# Backups
##############
*~
*.old

# Python
##############
*.pyc
*.pyo
*.egg-info
build

# C/C++
##############
*.o
*.so

# OS generated
##############
.directory
.DS_Store*
ehthumbs.db
Thumbs.db

# Eclipse/Aptana IDE generated
###################
.project
.pydevproject
.settings
.build

# VIM Editor
###################
*.swp

# Netbeans IDE generated
################
nbproject/*

# Komodo IDE generated
################
*.kpf

# Engine Specific
################
engine/**/data
engine/**/logs
distributed-analytics/**/data
distributed-analytics/**/logs

 
